<h1>People list</h1>

<p>
  {{link-to "New Person" "people.new" }}
</p>

{{#if model.length}}
  <table>
    <thead>
      <tr>
        <th>
          First name
        </th>
        <th>
          Last name
        </th>
        <th>
          Email
        </th>
        <th colspan="3">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |person|}}
        <tr>
          <td>
            {{person.firstName}}
          </td>
          <td>
            {{person.lastName}}
          </td>
          <td>
            {{person.email}}
          </td>
          <td>
            {{link-to "Edit" "people.edit" person}}
          </td>
          <td>
            {{link-to "Show" "people.show" person}}
          </td>
          <td>
            <a href="#" {{action "remove" person}}>Remove</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p id="blankslate">
    No People found
  </p>
{{/if}}
